body {
    width: 80%;
    margin: 0 auto;
    background-color: #ddd;
}

/* Estilo de las pestañas */

.tabs {
    margin-top: -42px;
}

.tabs li {
    display: inline-block;
    border-left: 1px solid #0e71b4;
}

.tabs li:last-child {
    border-right: 1px solid #0e71b4;
}

.tabs li:hover {
    background-color: #333;
}

.tabs a img {
    display: inline;
    vertical-align: middle;
}

section {
    background-color: white;
}

section h1 {
    padding-left: 0.65em;
}

/* Menú de opciones */

.dropdown_btn {
    display: none;
}

.menu-container {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#dropdown {
    margin-top: 0.5em;
    display: inline-block;
}

#dropdown_menu li {
    display: inline-block;
    background: #e2e2e2;
    border-bottom: 4px solid #ccc;
    border-radius: 5px 5px 0 0;
    padding: 0.25em 0.5em;
}

#dropdown_menu .selected_menu {
    background: #bfefff;
    border-bottom: 4px solid #18b;
    font-weight: bold;
}

#dropdown_menu .selected_menu a {
    color: black;
}

#dropdown_menu li a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.75em;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#dropdown_menu li:hover {
    border-bottom: 4px solid #18b;
}

#dropdown_menu li:hover a {
    color: black;
}

section select {
    display: inline-block;
    width: 25%;
}

/* Tabla general de información */
.info {
    width: 100%;
    border: 1px solid #e8e8e8;
}

.info-div {
    padding: 0.5em;
}

.icon {
    background-image: url("img/equipos.png");
    background-size: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

.compostela {
    background-position: -20px 0;
}

.liceo {
    background-position: 0 -20px;
}

.ordenes {
    background-position: -20px -20px;
}
